.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.feature-card {
  background: linear-gradient(135deg, #0d6efd, #0a58ca);
  color: #fff;
  padding: 30px 25px;
  border-radius: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.feature-card p {
  color: #e9f1ff;
  font-size: 0.95rem;
}

.feature-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(13, 110, 253, 0.4);
}

.feature-card i {
  color: #ffffff;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
